<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
      <meta charset="UTF-8">
      <title>학생 등록</title>
</head>

<body>

      <h2>학생 등록</h2>

      <form th:action="@{/adduser}" th:object="${studentForm}" method="post">

            <label for="name">이름</label>
            <input type="text" id="name" th:field="*{name}">

            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
            </span>

            <br />

            <label for="studentNumber">학번</label>
            <input type="text" id="studentNumber" th:field="*{studentNumber}">

            <span th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}">
            </span>

            <br />

            <button type="submit">학생 등록</button>

      </form>

      <p>
            <a th:href="@{/}">목록으로</a>
      </p>

</body>

</html>